<div id="margin">
</div>
	<div id="content">
		<div id="content_borderfix">
			<div id="not_logged_in">
				<br />
				<center><p class="lightgrey_none_large">You need to be <a href="#"><span class="highlight">logged in</span></a> to access File Pile.</p></center>
				<center><p class="lightgrey_none_normal"><br />Registration is completely <span class="highlight">free</span> and is easily done in<span class="highlight"> a few seconds.</span></p><br /><br /></center>
				<center><a href="<%= register_path %>" class="button large">Register</a></center><br />
				<br />
			</div>
			<div id="register">
		</div>
	</div>
</div>